.basket {
  height: 200px;

  .header {
    margin-left: 20px;
    background-color: @color-base;
    color: @color-accent-2-b;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
  }
}
