@import "simple-grid.css";
@import "variables";
@import "colors";
@import "sidebar";
@import "basket";

.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: @color-base;
  margin-right: 10px;
}

.main-content {
  width: 100%;
}

.feather-container {
  height: ~"calc(100vh - 200px)";
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

iframe {
  border: 0 !important;
}
